*{
    margin: 0;
    padding: 0;
    font-family: "Dosis", sans-serif;
}
.home{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(53, 82, 66, .5), rgba(47, 80, 63, .6)), url(../images/bg.jpeg) center no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
.banner{
    width: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.banner h1{
    font-size: 80px;
    color: #ddd;
    font-weight: 300;
    margin-bottom: 30px;
    animation-name: moveToleft;
    animation-duration: 2s;
}

.banner span{
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}
.banner p{
    font-size: 50px;
    font-weight: 300;
    color: #eee;
    margin-bottom: 20px;
    animation-name: moveToright;
    animation-duration: 2s;
}

.banner button{
    width: 100px;
    padding: 12px;
    margin: 20px;
    border: 2px solid #eee;
    font-size: 18px;
    outline: none;
    letter-spacing: 1px;
    cursor: pointer;
}
.btn-left{
    background-color: #eee;
    color: #444;
    animation-name: animateBtn;
    animation-duration: 1s;
    animation-delay: 1.5s; 
    animation-fill-mode: backwards;
}
.btn-right{
    background-color: transparent;
    color: #eee;
    animation-name: animateBtn;
    animation-duration: 1s;
    animation-delay: 2.3s;
    animation-fill-mode: backwards;
}
.header{
    background-color: rgb(65, 65, 68);
    color: white;
    height: 500px;
    width: 20%;
    position: sticky;
    top: 0px;
    text-align: center;
}
.header > h1{
    padding: 15px;
}
.header > ul{
    list-style-type: none;
    font-size: 25px;
}
.header > ul > li{
    padding: 10px 25px;
    text-align: left;
    border-top: 1px solid rgb(145, 144, 144);
}
.header > ul > li:last-child{
    border-bottom: 1px solid rgb(145, 144, 144);
}
.header > ul > li > i{
    padding-right: 15px;
    width: 50px;
}
.header > ul > li> a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.about{
    width: 100%;
    height: 100vh;
    background-color: lavenderblush;
}
.gallery{
    width: 100%;
    height: 100vh;
    background-color: blanchedalmond;
}

@keyframes moveToleft{
    0%{
        transform: translate(120px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes moveToright{
    0%{
        transform: translate(-120px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes animateBtn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}